@import "../../app/variables";

.firstLine {
  margin-bottom: 10px;
}

.sectionTitle {
  margin-bottom: 107px;
  color: $colorActive;
}

.slider {
  position: relative;
}

.slideTitle {
  margin-bottom: 18px;
}

.slideLine {
  opacity: 20%;
}

.orangeSlideLine {
  margin-top: -2px;
  width: 235px;
  color: $colorActive;
  margin-bottom: 18px;
}

.textCard {
  padding: 30px 20px 65px;
  color: $colorWhite;
  // background-color: $colorDarkBlue;
  border-radius: 12.2px;
  // overflow: hidden;
  background: linear-gradient(rgba(24, 48, 108, 0.8), rgba(24, 48, 108, 0.8)),
    url(/images/serviceHighways.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.cardText:not(:last-child) {
  margin-bottom: 24px;
}
