$mobile: "375px";
$tablet: "768px";
$laptop: "1024px";
$desktop: "1920px";

// @media screen and (min-width: $mobile) {}
// @media screen and (min-width: $tablet) {}
// @media screen and (min-width: $laptop) {}
// @media screen and (min-width: $desktop) {}

$colorWhite: #ffffff;
$colorDarkBlue: #18306c;
$colorAliceBlue: #eaf0ff;
$colorActive: #f2683c;
