@import "../../app/variables";

.container {
  padding: 0;
  flex-direction: column;
  row-gap: 20px;
  color: $colorWhite;
}

.heroImgWrapper {
  width: 335px;
  height: 554px;
  border-radius: 13px;
  position: relative;
  // overflow: hidden;
}

.heroImg {
  // background-image: url(/images/hero.webp);
  // background-color: #1717174D;
  background: linear-gradient(#1717174d, #1717174d), url(/images/hero.webp);
  background-position-x: 33%;
  background-position-y: -8px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  scale: 1.35;
}

.heroTitle {
  position: absolute;
  left: 22px;
  bottom: 31px;
}

.servicesList {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}

.serviceImgsWrapper {
  width: 335px;
  height: 160px;
  position: relative;
  border-radius: 13px;
  overflow: hidden;
}

.serviceImg {
  object-fit: cover;
}

.serviceImgGradient {
  position: absolute;
  width: 100%;
  height: 100%;
  // background-image: url(/servicesGradient.png);
  background-image: url(/servicesGradient.png),
    linear-gradient(rgba(24, 48, 108, 0.6), rgba(24, 48, 108, 0.6));
  z-index: 15;
}

.titlesWrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 20;
}

.serviceLink {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
}

.arrow {
  display: block;
  width: 16px;
  height: 15px;
}
