@import "../../app/variables";

.container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 20px 20px;
  background: linear-gradient($colorWhite, $colorWhite);
}

.logoLink {
  position: relative;
  width: 137px;
  height: 25px;

  @media screen and (min-width: $desktop) {
    width: 200px;
    height: 36px;
  }
}

.burgerBtn {
  border: transparent;
  outline: none;
  position: relative;

  width: 28px;
  height: 28px;
  border-radius: 50%;
  z-index: 150;
  margin-left: auto;

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background-color: $colorDarkBlue;
    z-index: -1;
  }

  @media screen and (min-width: $laptop) {
    display: none;
  }
}

.burgerOpen {
  &::before {
    scale: 200;
  }
}

.icon {
  width: 28px;
  height: 28px;
  z-index: 1;
}

// .navLinksWrapp {
//   width: 10px;
//   height: 10px;
// }
// .navLinksWrappBig {
// }

.navLinks {
  // position: absolute;
  transform: translateX(100vw);
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: $colorWhite;
  font-size: 20px;
  top: 140px;
  position: fixed;
  z-index: 200;
  @media screen and (min-width: 1024px) {
    position: static;
    color: $colorDarkBlue;
    flex-direction: row;
    transform: translateX(0);
  }
}

.navLinksOpen {
  transform: translateX(10vw);
}

.contactBtn {
  margin-left: 20px;
}
