@import "../../app/variables";

.firstLine {
  margin-bottom: 10px;
}

.sectionTitle {
  margin-bottom: 107px;
  color: $colorActive;
}

.aboutList {
  margin-bottom: 70px;
  color: $colorDarkBlue;
}

.dataTitle {
  margin-bottom: 25px;
}

.dataText.a,
.dataText.b {
  margin-bottom: 50px;
}

.dataHR.a,
.dataHR.b {
  margin-bottom: 50px;
}

.dataHR.c {
  display: none;
}

.video {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 70px;
  object-fit: cover;
}

.aboutFilm {
  margin-bottom: 70px;
}

.awards {
  padding: 20px;
  background-color: $colorAliceBlue;
  border-radius: 13px;
  overflow: hidden;
  margin-bottom: 60px;
}

.iconPlanet {
  width: 38px;
  height: 38px;
  margin-bottom: 128px;
}

.titleAwards {
  margin-bottom: 48px;
}

.ourHistoryList {
  margin-bottom: 88px;
}

.ourHistoryPhoto {
  object-fit: cover;
  border-radius: 13px;
  overflow: hidden;
  margin-bottom: 40px;
}

.ourHistoryPhoto.firstHistory {
  object-position: -32px;
}

.historyHR {
  margin-bottom: 30px;
}

.firstHistory {
  margin-bottom: 58px;
}

.aboutUsCard {
  position: relative;
  width: 335px;
  height: 188px;
  padding: 15px 18px 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $colorWhite;
  background-color: $colorDarkBlue;
  border-radius: 13px;
  overflow: hidden;
}

.competencies {
  width: 225px;
}

.aboutUsLink {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.aboutUsArrow {
  display: block;
  width: 40px;
  height: 40px;
}
